<body>

  <div class="container">

    <h1><strong>My Tasks</strong></h1>
      <div class="card">
        <ul>

        <% @tasks.each do |task| %>

           <% if task.completed == true %>

              <h2><input type="checkbox" id="completed" name="completed" value="completed" checked>
          <%= link_to task.title, task_path(task)%></h2>

          <% else %>
            <h2><input type="checkbox" id="completed" name="completed" value="completed" uncheked>
            <%= link_to task.title, task_path(task) %></h2>

          <% end%>

        <% end %>
        </ul>
      </div>



    <p class="cardbottom"><%=link_to "Create A New Task", new_task_path%></p>

  </div>
</body>
